body {
    font-family: Hind, Arial, sans-serif;
    font-size: 20px;
    color: white;
}

p {
    font-weight: bold;
    text-shadow: 1px 1px grey;
}

#chat_overlay {
    position: absolute;
    bottom: 10px;
    width: 98%;
}

.chat_message {
    width: 100%;
    /*
    background-image: linear-gradient(
        180deg,
        rgb(228, 3, 3, 0.6) 0%,
        rgba(255, 140, 0, 0.6) 20%,
        rgba(255, 237, 0, 0.6) 40%,
        rgba(0, 128, 38, 0.6) 60%,
        rgba(0, 76, 255, 0.6) 80%,
        rgba(115, 41, 130, 0.6) 100%
    );
    */
    border-radius: 10px;
    padding: 2px;
    margin: 2px;
}

.user_details {
    padding: 1px;
    margin: 1px;
    width: 100%;
    position: relative;
    display: inline;
}

.chat_badges {
    padding: 1px;
    margin: 1px;
    display: inline;
    width: 20px;
    height: 20px;
}

.display_name {
    font-family: Cairo, Arial, sans-serif;
    font-size: 24px;
    display: inline;
}

.pronoun_tag {
    display: inline;
    font-size: 80%;
    font-weight: regular;
    font-family: Inconsolata, "Courier New", monospace;
    color: lightgray;
    margin-left: 5px;
    margin-right: 5px;
}

.msg_text {
    margin-top: 5px;
    margin-bottom: 5px;
    text-indent: 5px;
    display: inline;
}

.emotes {
    width: 32px;
    height: 32px;
    display: inline flow;
    vertical-align: middle;
}

p.slash_me {
    font-style: italic;
}
